---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";

const projects = [
  {
    name: "Thankful Thoughts",
    description:
      "ThankfulThoughts is a web app that generates an appreciative sentence of something or someone you are thankful for.",
    image: "/thankfulthoughts.png",
    github: "https://github.com/hqasmei/thankful-thoughts",
    link: "https://thankfulthoughts.io/",
  },
  {
    name: "PlatoIO",
    description: "PlatoIO is a to do list app that built using the PERN stack.",
    image: "/platoio.png",
    github: "https://github.com/hqasmei/platoio",
    link: "https://platoio.com/register",
  },
  {
    name: "Kator Family Photos",
    description:
      "Kator Family Photos is a photos and video digitization service in the LA area.",
    image: "/familyphotos.png",
    github: "https://github.com/hqasmei/katorfamilyphotos",
    link: "https://katorfamilyphotos.com/",
  },
]


---

<MainLayout title="Projects" description="My projects Page">
  <section class="container about" aria-label="Projects">
    <h1 class="my-10 text-center font-bold text-4xl">
      Projects
      <hr class="w-6 h-1 mx-auto my-4 bg-teal-500 border-0 rounded"></hr>
    </h1>

    <div class="flex flex-col space-y-28">
      {projects.map((project, idx) => {
        return (
          <div key={idx}>
            <SlideUp offset="-300px 0px -300px 0px">
              <div class="flex flex-col  animate-slideUpCubiBezier animation-delay-2 md:flex-row md:space-x-12">
                <div class=" md:w-1/2">
                  <Link href={project.link}>
                    <Image
                      src={project.image}
                      alt=""
                      width={1000}
                      height={1000}
                      class="rounded-xl shadow-xl hover:opacity-70"
                    />
                  </Link>
                </div>
                <div class="mt-8 md:w-1/2">
                  <h1 class="text-4xl font-bold mb-6">{project.name}</h1>
                  <p class="text-xl leading-7 mb-4 text-neutral-600 dark:text-neutral-400">
                    {project.description}
                  </p>
                  <div class="flex flex-row align-bottom space-x-4">
                    <Link href={project.github} target="_blank">
                      <BsGithub
                        size={30}
                        class="hover:-translate-y-1 transition-transform cursor-pointer"
                      />
                    </Link>
                    <Link href={project.link} target="_blank">
                      <BsArrowUpRightSquare
                        size={30}
                        class="hover:-translate-y-1 transition-transform cursor-pointer"
                      />
                    </Link>
                  </div>
                </div>
              </div>
            </SlideUp>
          </div>
        )
      })}
      
    </div>
  </section>
</MainLayout>